* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 10px;

}

.body {
    margin: 0;
    background-color: aquamarine;
}

.topnav { 
    width:250px;
    border-radius: 50px;
    /*box-shadow:20px inset black violet purple;*/
    overflow: hidden;
    background-color: rgba(214, 182, 244, 0.763);

}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
    font-style: 'Nunito Sans', sans-serif;
}
.gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50%);
    display:flex;
    width:25vw;
    height:25vw;
    background: linear-gradient(-45deg, #686FFD, #F1A73F, #686FFD, #F1A73F);
}
.social-icons {
    border: 20px dotted bisque;
    width:270px;
    border-radius: 10px;
    font-size: 40px;
    margin: 10px;
   color:aliceblue;

}

.showcase-top h1 {
    border-bottom: 2px solid bisque;
    color:aliceblue;

}

.showcase-top {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    color:aliceblue;
    border-color: 2px solid black;
    border-radius: 20px;
}

.showcase-center img {
    width:700px;
    height:700px;
    text-align:left;
    position:absolute;
}

.a hover {
    color: aquamarine;
}

showcase-top .p {
    color:blueviolet;
}

.showcase {
    padding: 0px;
}